.carousel__dots-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #828282;
  display: inline-block;
  margin-right: 2px;
  opacity: 0.7;

  &:last-child {
    margin-right: 0;
  }

  &_active {
    opacity: 1;
  }
}
