@import "utils";
@import "fonts";
@import "typography";
@import "twitter-card";
@import "carousel-button";

body {
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.carousel {
  display: flex;
  padding: 0;
  width: 310px;
  overflow: hidden;
}

.carousel__dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;

}

.carousel__dots-wrap {
  position: absolute;
  top: 250px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
