body {
  font-family: Lato, sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.carousel {
  display: flex;
  margin: auto 20px;
  width: 350px;
  overflow: hidden;
}

.carousel__item {
  margin: 0 20px;
  width: 350px;
  transition: margin-left 0.5s;
}

.carousel__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 2px;
}

.carousel__dot_active {
  background-color: gray;
  transition: 0.5s;
}

.carousel__dots-wrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.twitter-card {
  background: #fff;
  height: 160px;
  width: 310px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #828282;
  padding: 20px 15px 10px 25px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.twitter-card__message {
  height: 80px;
  font-size: 14px;
  color: #4f4f4f;
}

.twitter-card__name {
  margin-left: 8px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

.twitter-card__avatar__avatar {
  width: 30px;
  height: 30px;
}

.twitter-card__ico__ico {
  position: absolute;
  top: 25px;
  right: 15px;
  width: 15px;
  height: 12px;
  background: url("../images/twitter.png");
}

.carousel__btn {
  width: 47px;
  height: 47px;
}

.carousel__btn_next {
  background: url(../images/slider-btn/next-btn.png);
}

.carousel__btn_prev {
  background: url(../images/slider-btn/prev-btn.png);
}
