@import "utils";
@import "fonts";
@import "typography";
@import "twitter-card";
@import "carousel-button";

body {
  font-family: Lato, sans-serif;
}

.wrapper {
  position: relative;
}

.carousel {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  width: 310px;
  overflow: hidden;

  &__item {
    transition: transform 0.3s ease-in-out;
  }

  &__btn_prev {
    position: absolute;
    left: 20%;
    top: 80px;
    transform: translateY(-50%);
  }

  &__btn_next {
    position: absolute;
    right: 20%;
    top: 80px;
    transform: translateY(-50%);
  }

  &__dots-wrap {
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin: 10px auto 0;
  }

  &__dot {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 20px;

    &.carousel__dot_active {
      background-color: red;
    }
  }
}
