@import "utils";
@import "fonts";
@import "typography";
@import "twitter-card";
@import "carousel-button";

body {
  font-family: Lato, sans-serif;
  margin-top: 100px;
}

.carousel {
  display: flex;
  position: relative;

  padding: 0;
  left: 0;
  transition: 0.3s;
  list-style: none;

  &__container {
    position: relative;

    width: 310px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
  }

  &__wrap {
    position: relative;

    margin: 0 auto;
    width: 450px;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    &:active {
      box-shadow: 0 0 10px 10px rgb(0, 247, 255);
      border-radius: 50%;
      transition: box-shadow 0.1s;
    }

    &_next {
      right: 0;
    }

    &_prev {
      left: 0;
    }
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: lightgrey;
    margin-right: 10px;

    &_active {
      background-color: gray;
    }
  }

  &__dots-wrap {
    display: flex;
    justify-content: center;
  }
}
